---
import SinkLayout from "^layouts/SinkLayout.astro";
import silent from "^/silent.svg";
import rss from "^/rss.svg";

const posts = await Astro.glob("/src/pages/~sink/blog/**/*.md");

const fmtTags = (tags) => tags.map((t) => `[${t.toUpperCase()}]`).join(" ");
---

<SinkLayout title="Quiet System">
  <div class="grid grid-cols-[repeat(3,max-content)] grid-rows-2">
    <img class="h-40 row-span-2 mr-5" src={silent} />
    
    <h1 class="spaced mb-0 self-end">Quiet System</h1>

    <p class="text-xl italic self-start justify-self-end col-start-2">Yellowsink's blog</p>

    <a href="quiet.rss" class="col-start-3 row-start-1 self-end m-2">
      <img class="h-[calc(1.75rem*.8)]" src={rss} />
    </a>
  </div>

  {
    posts.map(({ url, frontmatter }) => (
      <a href={url} class="block mt-2 p-2 border border-white no-underline">
        <div class="flex justify-between">
          <p class="text-xl">{frontmatter.title}</p>
          <p class="text-lg">
            {fmtTags(frontmatter.tags)} {frontmatter.pubDate}
          </p>
        </div>

        <p>{frontmatter.description}</p>
      </a>
    ))
  }
</SinkLayout>

<style lang="sass">
  .spaced
    letter-spacing: .3rem
</style>
