---
import { formatDate } from "☆js/date";
import site from "☆js/site.config";
import ThemedImage from "./ThemedImage.astro";

let projects = site.projects;

projects = projects.sort(
	(prev, next) => next.date.valueOf() - prev.date.valueOf(),
);

const images = projects
	.filter((project) => project.image !== undefined)
	.map((project) => ({ alt: project.title, image: project.image! }));
---

{
	images.length > 0 && (
		<div class="my-[1.5em] grid grid-cols-1 sm:grid-cols-2 max-w-xl gap-5">
			{
				images.map(({ alt, image }) => (
					<ThemedImage
						class="border-1.5 border-gray-3 rounded"
						alt={alt}
						light={image.light}
						dark={image.dark}
					/>
				))
			}
		</div>
	)
}

<ul class="!pl-0 dashed">
	{
		projects.map((project) => (
			<li>
				<a class="!decoration-none" href={project.link}>
					{project.title}
				</a>
				<div class="dash" />
				<div class="text-gray-11">{formatDate(project.date)}</div>
			</li>
		))
	}
</ul>
