---
import IndexLayout from "../layouts/IndexLayout.astro";
import PoweredBy from "../components/PoweredBy.astro";
import PersonCard from "../components/PersonCard.astro";

import triforceUrl from "+/ssemblem.png"
import sinkUrl from "^/bw-pfp.svg"
import floppyUrl from "#/img/icons/floppy.png";
import phorcysUrl from "ยง/pfp.png"

import people from "/peopleInfo.json";
---

<IndexLayout title="people">
  <div class="font-plex">
    <div class="p-10 flex flex-col gap-2">  
        {people.map((person) => {
            return(
            <PersonCard
                imgSrc={person.img.src}
                imgLink={person.img.link}
                pixelated={person.pixelated}
                headLink={person.headLink}
                links={person.links}
            >
                <span slot="header">{person.header}</span>
                <span>{person.body}</span>
            </PersonCard>
            )
        })}
      </div>
    <PoweredBy />
  </div>
</IndexLayout>