---
import { Icon } from "astro-icon/components";
import { type CollectionEntry, getCollection, render } from "astro:content";
import Sidenote from "☆components/Sidenote.astro";
import Tags, { type Tag } from "☆components/Tags.astro";
import TOC from "☆components/TOC.astro";
import TOCScript from "☆components/TOCScript.astro";
import { formatDate } from "☆js/date";
import siteConfig from "☆js/site.config";
import PostLayout from "☆layouts/PostLayout.astro";

type Post = CollectionEntry<"taskyPosts">;
export async function getStaticPaths() {
	const posts = await getCollection("taskyPosts");
	const listedPosts = posts.filter((post) => !post.data.unlisted);

	const { tags } = siteConfig;

	const tagNames = Object.fromEntries(tags.map((tag) => [tag.id, tag.name]));

	return posts.map((post, i) => {
		const tags: Tag[] = post.data.tags.map((id) => ({
			id,
			name: tagNames[id] ?? id,
		}));
		const previous = listedPosts[i + 1];
		const next = listedPosts[i - 1];
		return {
			params: { slug: post.id },
			props: { ...post, tags, previous, next },
		};
	});
}

export type Props<T = Post> = T & { tags: Tag[]; previous?: T; next?: T };
const { previous, next, ...post } = Astro.props;

const {
	Content,
	remarkPluginFrontmatter: frontmatter,
	headings: _headings,
} = await render(post);
const readingTime = frontmatter.readingTime as string;
const headings = _headings.filter((h) => h.depth === 3);

const hasCodeSnippets = post.body?.includes("```");
const isAboutPage = post.id === "about";
---

<PostLayout
	padded={!isAboutPage}
	title={post.data.title}
	description={post.data.description}
>
	{headings.length > 0 && <TOCScript slot="head" />}

	<Fragment slot="aside-left">
		<nav>
			<a class="styled font-sans" href="/~tasky/">
				<Icon
					name="material-symbols:arrow-back"
					class="inline-block align-middle"
				/>
				<span>Home</span>
			</a>
		</nav>
		<div class="flex-1"></div>
		{
			headings.length > 0 && (
				<div class="hidden xl:block">
					<TOC headings={headings} />
				</div>
			)
		}
		{
			post.tags.length > 0 && (
				<div class="mt-5 hidden xl:block">
					<Tags tags={post.tags} />
				</div>
			)
		}
	</Fragment>

	<Fragment slot="title">
		<div class="flex flex-col">
			<h2 class="font-semibold text-2xl">
				{post.data.title}
			</h2>
			<div class="flex flex-row items-center gap-2.5 text-gray-11 font-sans">
				{
					post.data.published ? (
						<Fragment>
							<span>{formatDate(post.data.date)}</span>
							<Icon name="material-symbols:search-activity-rounded" />
							<span>{readingTime}</span>
						</Fragment>
					) : <span>{post.data.description}</span>
				}
			</div>
		</div>
		{
			!post.data.published && !isAboutPage ? (
				<div class="prose mt-10 xl:mt-0">
					<Sidenote>
						<p>
							This page is in{" "}
							<span class="italic text-blue-11">
								<Icon
									name="material-symbols:edit-outline"
									class="inline align-middle"
								/>{" "}
								draft mode
							</span>
							meaning the content here is subject to change.
						</p>
					</Sidenote>
				</div>
			) : null
		}
	</Fragment>

	<Fragment slot="article">
		<Content />
	</Fragment>

	<Fragment slot="footnotes">
		{
			post.tags.length > 0 && (
				<div class="pt-10 block xl:hidden">
					<Tags tags={post.tags} />
				</div>
			)
		}
	</Fragment>
</PostLayout>
