---
import IndexLayout from "#layouts/IndexLayout.astro";
import { parse } from "#js/parse";
import { parseChat } from "#js/parseChats";
import { Message } from "#components/oracle/Message";
import "#css/chat.scss";

export function getStaticPaths() {
    const logs = import.meta.glob("./_logs/*.txt", {
        eager: true,
        as: "raw",
    });

    return Object.keys(logs).map((path) => ({
        params: {
            log: path.split("/").pop().split(".")[0],
        },
        props: {
            content: parseChat(logs[path]),
            path: path,
        },
    }));
}

const { log: title } = Astro.params;
const { content, path } = Astro.props;
---

<IndexLayout>
    <div class="text">
        <h1 class="file">{path}</h1>
        <div>
            <h1>{content.meta.title}</h1>
            <h3>
                {content.meta.desc}
            </h3>
            <hr />
            <div class="mcon">
                {
                    content.msgs.map((msg) => (
                        <Message
                            name={msg.name}
                            side={msg.side}
                            text={parse(msg.content)}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</IndexLayout>
