---
import "^css/global.sass";
import "^css/shiki.css";
import BorderLayout from "@layouts/BorderLayout.astro";
import Hits from "^components/quiet/Hits.astro";
import VisualsPicker from "^components/quiet/VisualsPicker.astro";

interface Props {
	post: any;
	headings: any[];
}

const { post, headings } = Astro.props;
const frontmatter = post.data;
---

<BorderLayout
	title={frontmatter.title}
	titleName="Quiet System"
	headerName="Quiet System"
	footerOride={"YELLOWSINK @ UWUNET " + frontmatter.pubDate.split("T")[0]}
	mainHref="/~sink/blog"
	scroll
	ogpType="article"
	ogpSiteName="Quiet System"
	ogpDescription={frontmatter.description}
	defaultMain={false}
>
	<meta slot="head" property="og:title" content={frontmatter.title + " - Quiet System"} />
	<meta slot="head" property="og:image" content="/sink/silent.png" />
	<meta slot="head" property="article:author" content="Yellowsink" />
	<meta slot="head" property="article:published_time" content={frontmatter.pubDate} />

	<div class="-mx-6 md:pl-80">
		<nav class="lt-md:hidden fixed w-80 left-12px top-12px bottom-12px p-6 b-white b-r-1 overflow-auto">
			<VisualsPicker smol />

			<ul id="sidenav" class="children:(mb-2 text-sm opacity-70) ml-.5rem">
				{
					headings.filter(h => h.depth > 1).map(({ depth, slug, text }) => (
						<li class="pl-.25rem" style={`margin-left: ${(depth - 1) - 1.25}rem`}><a href={"#" + slug}>{text}</a></li>
					))
				}
			</ul>
		</nav>
		<main id="quiet" class="px-6 grid cols-[1fr_min(100%,50rem)_1fr] children:col-start-2">
			<VisualsPicker mobileOnly />
			<Hits date={frontmatter.physPubDate ?? frontmatter.pubDate} />
			<slot />
		</main>
	</div>

	<style>
	.active {
		@apply opacity-100 text-md;
		list-style-type: disclosure-closed;
	}
	</style>

	<script>
	import "^js/quiet_analytics.js";
	import "^js/quiet_sidebar.ts";
	</script>
</BorderLayout>
