---
import FlowersSVG from "@res/assets/flowers.svg";
import SparklesSVG from "@res/assets/sparkles.svg";
import { Icon } from "astro-icon/components";
import LinkIcons from "☆components/LinkIcons.astro";
import PerusalList from "☆components/PerusalList.astro";
import PostsList from "☆components/PostsList.astro";
import ProjectsList from "☆components/ProjectsList.astro";
import Sidenote from "☆components/Sidenote.astro";
import site from "☆js/site.config";
import MainLayout from "☆layouts/MainLayout.astro";
---

<MainLayout title={site.title} description={site.description}>
	<Fragment slot="aside-left">
		<nav class="px-4 pt-10 xl:px-10">
			<a class="styled font-sans" href="/">
				<Icon
					name="material-symbols:arrow-back"
					class="inline-block align-middle"
				/>
				<span>uwu.network</span>
			</a>
		</nav>
		<div class="flex-1"></div>
		<div class="hidden xl:block px-10 pb-10">
			<LinkIcons links={site.links} />
		</div>
	</Fragment>

	<Fragment slot="title">
		<div class="flex flex-row items-end gap-5 pb-5 xl:pb-10">
			<img
				src="https://github.com/taskyliz.png"
				class="h-20 w-auto aspect-square rounded-full"
			/>
			<div class="flex flex-col">
				<h2 class="font-semibold text-2xl">{site.title}</h2>
				<div class="flex flex-row items-center gap-2.5 text-gray-11 font-sans">
					<span>{site.description}</span>
				</div>
			</div>
		</div>
	</Fragment>

	<Fragment slot="article">
		<div class="p-0 xl:pb-1.5">
			<Sidenote>
				<blockquote>
					Perhaps you want to learn more <a href="/~tasky/posts/about">about me</a>?
				</blockquote>
			</Sidenote>
		</div>

		<h3>Posts</h3>
		<PostsList />
		<p class="text-gray-11">
			See <a href="/~tasky/micro">/micro</a> for more frequent updates.
			<SparklesSVG class="inline-block ml-1.5 text-green-11" />
		</p>

		<h3>Projects</h3>
		<Sidenote side="left">
			<p>
				<span class="inline xl:hidden">Featuring a</span>
				<span class="hidden xl:inline">A</span> few screengrabs from some of my recent
				<em>personal</em> works.
			</p>
		</Sidenote>
		<ProjectsList />

		<h3>Perusal</h3>
		<Sidenote>
			<p>Things I've read or been reading lately.</p>
		</Sidenote>
		<PerusalList />
	</Fragment>

	<Fragment slot="footnotes">
		<div class="h-20"></div>
		<div class="w-full flex flex-row items-end justify-between">
			<div class="flex flex-col gap-5 xl:gap-0">
				<div class="prose">
					<div class="text-gray-11">
						Also, check out my <SparklesSVG class="inline-block align-middle text-yellow-11" />
						collective: {" "}
						<a href="https://uwu.network" class="underline decoration-dotted">uwu.network</a>
					</div>
				</div>
				<div class="block xl:hidden"><LinkIcons links={site.links} /></div>
			</div>
			<FlowersSVG class="h-25 w-auto text-gray-11 mb-2.5 hidden xl:block" />
		</div>
	</Fragment>
</MainLayout>
